@{ ViewBag.Title = "Home Page"; }



<div class="jumbotron">
    <h1>Administracion de Reportes y quejas</h1>
    <img src="~/Content/IMG/imagen.jpg" class="img-thumbnail" alt="Imagen de la empresa"><br />
    <p class="lead">Sistema de gestion de quejas y reclamos</p>



    <p>@Html.ActionLink("Ver Más", "About", "Home", new { @class = "btn btn-primary btn-lg" })</p>
</div>