@{ ViewBag.Title = "Home Page"; }



<div class="jumbotron">
    <h1 align="center">Administracion de Reportes y quejas</h1>
    <img src="~/Content/IMG/imagen.jpg" class="img-thumbnail" alt="Imagen de la empresa"><br />
    <br/>
    <p class="lead" align="center">Desarrollo con tecnologia propietaria II - ISO710 </p>
</div>